name: build
on: [push, pull_request]

jobs:
  test:
    name: Dub Tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        dc: [dmd-latest, ldc-latest, dmd-2.096.1, ldc-1.26.0]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Install D compiler
        uses: mihails-strasuns/setup-dlang@v1.0.5
        with:
          compiler: ${{ matrix.dc }}

      - uses: actions/cache@v1
        with:
          path: ~/.dub
          key: ${{ runner.os }}-dub-${{ hashFiles('**/dub.selections.json') }}
          restore-keys: |
            ${{ runner.os }}-dub-

      - name: Run tests linux
        if: runner.os == 'Linux'
        run: |
          ulimit -c unlimited
          echo "$PWD/core-dump/corefile-%e-%p-%t" | sudo tee /proc/sys/kernel/core_pattern
          mkdir core-dump
          sysctl kernel.core_pattern
          ulimit -a
          dub -c=unittest-release

      - name: Run tests windows
        if: runner.os != 'Linux'
        run: |
          dub -c=unittest-release

      - uses: actions/upload-artifact@v2
        if: ${{ failure() && runner.os == 'Linux' }}
        with:
          name: core-dump
          path: |
            ./core-dump/*
            ./concurrency

      - name: Build
        run: dub build
